<%- include('../admin/layout/adminSidebar.ejs')%>


<%- include('../admin/layout/adminHeader.ejs')%>


<div class="main-panel">
  <div class="content-wrapper">

    <div class="row">
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Total Revenue</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  
                    <h2 class="mb-0">₹&nbsp;<%= totalRevenue %>.00</h2>
                  
                  
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">Active FurniCube users</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-multiple text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Monthly Revenue</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">₹&nbsp;<%= monRev %>.00</h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal"> Active orders Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-truck-delivery text-danger ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h5>Total Sales</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">&nbsp;<%= sales %></h2>
                  <!-- <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">In stock Products</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-gift text-success ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="row">

      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Transactions</h4>
            <canvas id="transactions" class="transaction-chart"></canvas>
            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
              <div class="text-md-center text-xl-left">
                <h6 class="mb-1">Cash On Delivery</h6>
              </div>
              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                <h6 class="font-weight-bold mb-0"><%= codCount %></h6>
              </div>
            </div>
            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
              <div class="text-md-center text-xl-left">
                <h6 class="mb-1">Online Payment</h6>
              </div>
              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                <h6 class="font-weight-bold mb-0"><%=onlinePaymentCount%></h6>
              </div>
            </div>
            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
              <div class="text-md-center text-xl-left">
                <h6 class="mb-1">Wallet</h6>
              </div>
              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                <h6 class="font-weight-bold mb-0"><%=walletCount%></h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Monthly Sales Report</h4>
            <canvas id="monthChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Total Customers</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"><%= totalUser %>&nbsp; Users</h2>
                    <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>
                  </div>
                  <h6 class="text-muted font-weight-normal">Active FurniCube users</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-account-multiple text-primary ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Total Orders</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"><%= tot_order.length %>&nbsp;Orders</h2>
                    <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p>
                  </div>
                  <h6 class="text-muted font-weight-normal"> Active orders Since last month</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-truck-delivery text-danger ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Total Products</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"><%= products.length %>&nbsp;Products</h2>
                    <p class="text-danger ml-2 mb-0 font-weight-medium">-2.1% </p>
                  </div>
                  <h6 class="text-muted font-weight-normal">In stock Products</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-gift text-success ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <input type="text" id="cod" value="<%= codCount %>" hidden>
    <input type="text" id="wallet" value="<%= walletCount %>" hidden>
    <input type="text" id="online" value="<%= onlinePaymentCount %>" hidden>
    

    <input type="text" id="jan" value="<%= data[0] %>" hidden>
    <input type="text" id="feb" value="<%= data[1] %>" hidden>
    <input type="text" id="mar" value="<%= data[2] %>" hidden>
    <input type="text" id="apr" value="<%= data[3] %>" hidden>
    <input type="text" id="may" value="<%= data[4] %>" hidden>
    <input type="text" id="jun" value="<%= data[5] %>" hidden>
    <input type="text" id="jul" value="<%= data[6] %>" hidden>
    <input type="text" id="aug" value="<%= data[7] %>" hidden>
    <input type="text" id="sep" value="<%= data[8] %>" hidden>
    <input type="text" id="oct" value="<%= data[9] %>" hidden>
    <input type="text" id="nov" value="<%= data[10] %>" hidden>
    <input type="text" id="dec" value="<%= data[11] %>" hidden>

     
    
    
    
  </div>
  <!-- content-wrapper ends -->
 
<%- include('../admin/layout/adminFooter.ejs')%>