<%- include('../admin/layout/adminSidebar.ejs')%>

<%- include('../admin/layout/adminHeader.ejs')%>


<div class="main-panel">
  <div class="content-wrapper">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Coupon</h4>
        
        <form class="forms-sample">
          <div class="form-group">
            <label for="exampleInputName1">Coupon Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= coupon.couponName %>" >
            <div id="nameError" style="display: none; color: red;"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Coupon Code</label>
            <input type="text" class="form-control" id="code" name="code" value="<%= coupon.couponCode %>">
            <div id="codeError" style="display: none; color: red;"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Discount</label>
            <input type="number" class="form-control" id="discount" name="discount" value="<%= coupon.discountAmount %>">
            <div id="disError" style="display: none; color: red;"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Criteria Amount</label>
            <input type="number" class="form-control" id="amount" name="criteriaAmount" value="<%= coupon.criteriaAmount %>">
            <div id="amountError" style="display: none; color: red;"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Activation Date</label>
            <input type="date" class="form-control" id="active" name="activeDate" value="<%= coupon.activationDate.toISOString().split('T')[0] %>">
            <div id="activeError" style="display: none; color: red;"></div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Expiry Date</label>
            <input type="date" class="form-control" id="expiry" name="expDate" value="<%= coupon.expiryDate.toISOString().split('T')[0] %>">
            <div id="expError" style="display: none; color: red;"></div>
          </div>
          <input type="text" id="id" value="<%= coupon._id %>" hidden>
          <div class="form-group">
            <label for="exampleInputPassword4">Users Limit</label>
            <input type="number" class="form-control" id="limit" name="userLimit" value="<%= coupon.usersLimit %>">
            <div id="limitError" style="display: none; color: red;"></div>
          </div>
          <button id="editCoupon" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-inverse-danger"><a href="/admin/showCoupon">Cancel</a></button>
          
        </form>
      </div>
    </div>
    
  </div>
  </div>
<script src="/admin/editCoupon.js"></script>
 
<%- include('../admin/layout/adminFooter.ejs')%>