<%- include('../admin/layout/adminSidebar.ejs')%>
<%- include('../admin/layout/adminHeader.ejs')%>



<div class="main-panel">
            <div class="row">

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User Management</h4>
                    <p class="card-description">All BloomStyle Customers</p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <%
                          if(users.length > 0){
                            for(let i=0;i<users.length;i++){ %>
                              <tr>
                                <td><%=i+1 %></td>
                                <td><%= users[i].name %></td>
                                <td><%= users[i].email %></td>
                                <td><%= users[i].number %></td>
                                <td>
                                  <%
                                  if(users[i].is_verified == 0){
                                    %>
                                    <p class="text-danger">Not Verified</p>
                                    <%
                                  }else{
                                    %>
                                    <p class="text-success">Verified</p>
                                    <%
                                  }
                                  %>
                                </td>
                                <td>
                                  <%
                                  if(users[i].is_block == 0){
                                    %>
                                    <p><a href="/admin/block-user?id=<%= users[i]._id %>" class="badge badge-success">BLOCK USER</a></p>
                                    <%
                                  }else{
                                    %>
                                    <p><a href="/admin/block-user?id=<%= users[i]._id %>" class="badge badge-danger">UNBLOCK</a></p>
                                    <%
                                  }
                                  %>
                                </td>
                              </tr>
                              <%
                            }

                          }else{
                            %>
                            <tr>
                              <td colspan="5">Users Not Found</td>
                            </tr><%
                          }
                          %>
                          <!-- <tr>
                            <td>Jacob</td>
                            <td>jacod@gmail.com</td>
                            <td>987867543</td>
                            <td>Verified</td>
                            <td><a href=""><label class="badge badge-danger"></label></a></td>
                          </tr> -->
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            
            <%- include('../admin/layout/adminFooter.ejs')%>            