<%- include('../user/layout/userHeader.ejs')%>


<main class="main">
    <div class="intro-slider-container mb-4">
        <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                "nav": false, 
                "dots": true,
                "responsive": {
                    "992": {
                        "nav": true,
                        "dots": false
                    }
                }
            }'>
            <% if(banners.length > 0){ %>
                <% banners.forEach((banners)=>{ %>
            <div class="intro-slide" style="background-image: url('/banner/<%= banners.image %>');">
                <div class="container intro-content">
                    <h3 class="intro-subtitle text-danger"><%= banners.title %></h3><!-- End .h3 intro-subtitle -->
                    <div  class="row">
                        <div  class="col-lg-6">
                    <h1 class="intro-title" id="banner-title"><%= banners.description %></h1><!-- End .intro-title -->
                </div>
                </div>
                    <a href="/shop" class="btn btn-outline-primary-2">
                        <span>DISCOVER MORE</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->
            <% }) %>

            <% } %>
            

            
            
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->
    <!-- <h2 class="title text-center brands">New Arrivals</h2> -->

                <div class="owl-carousel mt-3 mb-4 owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            },
                            "1200": {
                                "items":6,
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                    <a href="#" class="brand">
                        <img src="/user/images/brands/1.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/2.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/3.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/4.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/5.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/6.png" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="/user/images/brands/7.png" alt="Brand Name">
                    </a>
                </div><!-- End .owl-carousel -->

    <div class="container">

        
       
        <hr class="mt-0 mb-4">
                <h2 class="title text-center brands">Trendy Products</h2>
        
        <div class="products-container" data-layout="fitRows">

            <% for(let i=0;i < products.length; i++){ %>

            <div class="product-item furniture col-6 col-md-4 col-lg-3">
                <div class="product product-4">
                    <div class="product-media">
                        <a href="/productView?id=<%=products[i]._id%>">
                            <img src="/products/crop/<%= products[i].images.image1 %>" alt="Product image" class="product-image">
                            <img src="/products/crop/<%= products[i].images.image4 %>" alt="Product image" class="product-image-hover">
                        </a>
                        
                        

                        <div class="product-action-vertical">
                            <a onclick="addWishlist('<%=products[i]._id%>')" class="btn-product-icon btn-wishlist btn-expandable"><span>Add to wishlist</span></a>
                        </div><!-- End .product-action -->

                        <div class="product-action">
                            <a href="/productView?id=<%=products[i]._id%>"  class="btn-product " ><span>View Product</span></a>
                        </div><!-- End .product-action -->
                    </div><!-- End .product-media -->

                    <div class="product-body">
                        <h3 class="product-title"><a href="/productView?id=<%=products[i]._id%>"><%= products[i].name %></a></h3><!-- End .product-title -->
                        <div class="product-price">
                            ₹ <%= products[i].price %>
                        </div><!-- End .product-price -->
                        

                        <div class="product-action">
                            <a href="/productView?id=<%=products[i]._id%>" class="btn-product btn-cart"><span>product details</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .product-action -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .product-item -->

           <% } %>
            




        </div><!-- End .products-container -->


    </div><!-- End .container -->


    <!-- <nav aria-label="Page navigation example " >
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    

    <div class="more-container text-center mt-0 mb-7">
        <a href="/shop" class="btn btn-outline-dark-3 btn-more"><span>more products</span><i class="la la-refresh"></i></a>
    </div>
    <div class="container categories pt-6">
        <h2 class="title-lg text-center mb-4">Shop by Categories</h2><!-- End .title-lg text-center -->

        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="banner banner-display banner-link-anim">
                    <a href="#">
                        <img src="/user/images/banners/home/banner-1.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">Outdoor</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-sm-6 col-lg-3 -->
            <div class="col-6 col-lg-4 order-lg-last">
                <div class="banner banner-display banner-link-anim">
                    <a href="#">
                        <img src="/user/images/banners/home/banner-4.jpg" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-title text-white"><a href="#">Lighting</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-sm-6 col-lg-3 -->
            <div class="col-sm-12 col-lg-4 banners-sm">
                <div class="row">
                    <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                        <a href="#">
                            <img src="/user/images/banners/home/banner-2.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white"><a href="#">Furniture and Design</a></h3><!-- End .banner-title -->
                            <a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->

                    <div class="banner banner-display banner-link-anim col-lg-12 col-6">
                        <a href="#">
                            <img src="/user/images/banners/home/banner-3.jpg" alt="Banner">
                        </a>

                        <div class="banner-content banner-content-center">
                            <h3 class="banner-title text-white"><a href="#">Kitchen & Utensil</a></h3><!-- End .banner-title -->
                            <a href="#" class="btn btn-outline-white banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div>
            </div><!-- End .col-sm-6 col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</main><!-- End .main -->



<%- include('../user/layout/userFooter.ejs')%>