<%- include('../user/layout/userHeader.ejs')%>
<style>
  .swal2-toast {
  width: 800px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
  font-size: 18px;
  margin-top: 70px;
}
</style>

<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('/user/images/demos-img/bg-1.jpg')"
  >
    <div class="container">
      <h1 class="page-title">
        <%=name?name:"Account"%><span>Personal Details</span>
      </h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <aside class="col-md-4 col-lg-3">
            <ul
              class="nav nav-dashboard flex-column mb-3 mb-md-0"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-profile-link"
                  data-toggle="tab"
                  href="#tab-profile"
                  role="tab"
                  aria-controls="tab-profile"
                  aria-selected="true"
                  >Profile</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-downloads-link"
                  data-toggle="tab"
                  href="#tab-downloads"
                  role="tab"
                  aria-controls="tab-downloads"
                  aria-selected="false"
                  >Wallet</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-coupons-link"
                  data-toggle="tab"
                  href="#tab-coupons"
                  role="tab"
                  aria-controls="tab-coupons"
                  aria-selected="false"
                  >Coupons</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-address-link"
                  data-toggle="tab"
                  href="#tab-address"
                  role="tab"
                  aria-controls="tab-address"
                  aria-selected="false"
                  >Adresses</a
                >
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
              </li>
            </ul>
          </aside>
          <!-- End .col-lg-3 -->

          <div class="col-md-8 col-lg-9">
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="tab-profile"
                role="tabpanel"
                aria-labelledby="tab-profile-link"
              >
              <div class="row">        
                  
                  <div class="col-lg-6" id="formDiv">
                    <h2 class="title mb-1">Manage Your Details</h2>

                    <form
                      class="contact-form mb-3"
                      id="myForm"
                    >
                      <div class="col-sm-14">
                        <label for="cname" class="sr-only">Full Name</label>
                        <input
                          name="fullname"
                          type="text"
                          class="form-control"
                          id="name"
                          value="<%= userData.name %>"
                          required
                        />
                      </div>
                      <div id="nameError" style="display: none; color: red;"></div>
                      <!-- End .col-sm-6 -->

                      <!-- End .row -->

                      
                        <div class="col-sm-14">
                          <label for="cphone" class="sr-only">Phone</label>
                          <input
                            name="mobile"
                            type="tel"
                            class="form-control"
                            id="phoneNumber"
                            value="<%= userData.number%>"
                            required
                            minlength="10"
                          />
                        </div>
                        <div id="numberError" style="display: none; color: red;" ></div>
                        <!-- End .col-sm-6 -->

                      <div class="col-sm-14">
                        <label for="csubject" class="sr-only">Email Id</label>
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          id="email"
                          value="<%= userData.email%>"
                          required
                        />
                      </div>
                      <div id="emailError" style="display: none; color: red;"></div>
                      <!-- End .row -->
                      <div id="profileSuccess" style="display: none; color: green;"></div>
                      

                      <button
                        type="submit"
                        class="btn btn-outline-primary-2 btn-minwidth-sm"
                        id="submitBtn"
                      >
                        <span>SUBMIT</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </form>
                    
                  </div>
                  <div class="col-lg-6" id="changePassDiv">
                    <h2 class="title mb-1">Change Password</h2>

                    <form
                      class="contact-form mb-3"
                     
                    >
                      <div class="col-sm-14">
                        <label for="password" class="sr-only">Current Password</label>
                        <input
                        placeholder="Current Password *"
                          name="currentPass"
                          type="password"
                          class="form-control"
                          id="password"
                          
                          required
                        />
                      </div>
                      <div id="currError" style="display: none; color: red;"></div>
                      <!-- End .col-sm-6 -->

                      <!-- End .row -->

                      
                        <div class="col-sm-14">
                          <label for="password" class="sr-only">New Password</label>
                          <input
                          placeholder="New Password *"
                            name="newPass"
                            type="password"
                            class="form-control"
                            id="newPass"
                            minlength="4"
                            required
                          />
                        </div>
                        <div id="newpassError" style="display: none; color: red;"></div>
                        <!-- End .col-sm-6 -->

                      <div class="col-sm-14">
                        <label for="password" class="sr-only">Confirm Password</label>
                        <input
                        placeholder="Confirm Password *"
                          name="ConfirmPass"
                          type="password"
                          class="form-control"
                          id="conPass"
                          minlength="4"
                          required
                        />
                      </div>
                      <div id="conpassError" style="display: none; color: red;"></div>
                      <!-- End .row -->
                      
                      

                      <button
                        type="submit"
                        class="btn btn-outline-primary-2 btn-minwidth-sm"
                        id="changePass"
                      >
                        <span>SUBMIT</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </form>
                    <a href="/forget"><b class="text-dark">Forget Password ?</b></a>
                  </div>
                    
                  
                  <!-- End .col-lg-6 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-orders"
                role="tabpanel"
                aria-labelledby="tab-orders-link"
              ></div>
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-downloads"
                role="tabpanel"
                aria-labelledby="tab-downloads-link"
              >
                <div class="row">
                  <% if( walletAmount !== 0 ){%>
                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h1 class="card-title">Wallet Amount</h1>
                        <!-- End .card-title -->
                        <br />

                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                          <div
                            class="d-flex d-sm-block d-md-flex align-items-center"
                          >
                            <h2 class="mb-0">₹ &nbsp <%= walletAmount %>.00</h2>
                          </div>

                          <br />
                        </div>
                        <div
                          class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                        >
                          <i
                            class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- End .card-body -->
                  </div>
                  <!-- End .card-dashboard -->
                  <% if(walletHistory.length > 0) { %>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <br />
                        <h4 class="card-title">Transaction History</h4>

                        <% walletHistory.forEach((walletHistory)=> { %>
                        <div
                          class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                          style="justify-content: space-between"
                        >
                          <div class="text-md-center text-xl-left">
                            <!-- <h6 class="mb-1">Cancel Refund</h6> -->
                            <p class="text-muted mb-0">
                              <%= walletHistory.date.toLocaleDateString('en-US',
                              { year: 'numeric', month: 'short', day: '2-digit'
                              }).replace(/\//g, '-') %>
                            </p>
                          </div>
                          <div
                            class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                          >
                            <h6 class="font-weight-bold mb-0">
                              ₹&nbsp<%= walletHistory.amount %>
                            </h6>
                            <p><%= walletHistory.reason %></p>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                  <% } %>

                  <!-- <div class="col-lg-6">
                  <div class="card card-dashboard">
                    <div class="card-body">
                      <h1 class="card-title">Wallet Amount</h1>
                      <br>
  
                      
                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                          <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">$45850</h2>
                            
                          </div>
                          <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6>
                          <br>
                        </div>
                        <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                          <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                        </div>
                      </div>
                    
                    </div>
                  </div> -->

                  <%}else{%>
                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h1 class="card-title">Wallet is empty.</h1>
                        <!-- End .card-title -->
                        <br />

                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                          <div
                            class="d-flex d-sm-block d-md-flex align-items-center"
                          >
                            <h2 class="mb-0">₹ &nbsp 0.00</h2>
                          </div>
                        </div>
                        <div
                          class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                        >
                          <i
                            class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- End .card-body -->
                  </div>
                  <!-- End .card-dashboard -->

                  <%}%>
                </div>
                <!-- End row -->
              </div>

              <div
                class="tab-pane fade"
                id="tab-coupons"
                role="tabpanel"
                aria-labelledby="tab-coupons-link"
              >
                <div class="row">
                  <% if(coupons.length > 0 ){ %>
                    <% coupons.forEach((value)=>{ %>

                  <div class="col-lg-6">
                    <div class="card card-dashboard" style="border-radius: 30px;">
                      <div class="card-body" >
                        <h1 class="card-title"><b><%= value.couponName %>&nbsp;!!</b></h1>
                        <!-- End .card-title -->
                        

                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                          <p>Use Code:</p>
                          <div
                            class="d-flex d-sm-block d-md-flex align-items-center"
                          >
                          
                            <h2 class="mb-0" style="
                            width: 500px;
                            height: 50px;
                            border: 2px dotted #000;
                            padding-left: 10px;
                          "><%= value.couponCode %></h2>
                          </div>
                          <br>
                          <p>If you buy&nbsp;₹ <%= value.criteriaAmount %>&nbsp;worth, You'll get&nbsp;₹ <%= value.discountAmount %>&nbsp;off! </p>
                          
                          
                        

                          <br />
                          <p class="card-title">Validity:&nbsp;<%= value.activationDate.toLocaleDateString('en-US',
                            { year: 'numeric', month: 'short', day: '2-digit'
                            }).replace(/\//g, '-') %>&nbsp; To &nbsp;<%= value.expiryDate.toLocaleDateString('en-US',
                            { year: 'numeric', month: 'short', day: '2-digit'
                            }).replace(/\//g, '-') %></p>
                          
                            
                        </div>
                        <div
                          class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                        >
                          
                        </div>
                      </div>
                    </div>
                    <!-- End .card-body -->
                  </div>
                  <% }) %>
                  <% } %>
                  <!-- End .card-dashboard -->
                </div>
              </div>
              <!-- .End .tab-pane -->

              <div
                class="tab-pane fade"
                id="tab-address"
                role="tabpanel"
                aria-labelledby="tab-address-link"
              >
                <div class="row">
                  <% if(addressData != undefined){
                  addressData.forEach((addressData)=>{ %>

                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title">Billing Addresses</h3>
                        <!-- End .card-title -->

                        <p>
                          Full Name:&nbsp&nbsp<%= addressData.fullname %><br />
                          Mobile:&nbsp&nbsp<%= addressData.mobile %><br />
                          Email:&nbsp&nbsp<%= addressData.email %><br />
                          House Name:&nbsp&nbsp<%= addressData.houseName %><br />
                          City:&nbsp&nbsp<%= addressData.city %><br />
                          State:&nbsp&nbsp<%= addressData.state %><br />
                          PinCode:&nbsp&nbsp<%= addressData.pin %><br />
                          <a href="/editAddress?id=<%= addressData._id %>"
                            >Edit <i class="icon-edit"></i
                          ></a>
                          <a onclick="removeAddress('<%= addressData._id %>')"
                            >Remove</a
                          >
                        </p>
                      </div>
                      <!-- End .card-body -->
                    </div>
                    <!-- End .card-dashboard -->
                  </div>
                  <!-- End .col-lg-6 -->

                  <% } ) } %>

                  <form>
                    <label>Full Name *</label>
                    <input
                      type="text"
                      name="fullname"
                      class="form-control"
                      placeholder="Full Name"
                      id="fullname"
                    />
                    <div id="fnameError" style="display: none; color: red;"></div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Phone *</label>
                        <input
                          name="mobile"
                          type="tel"
                          class="form-control"
                          id="phone"
                          placeholder="Phone"
                          
                        />
                        <div id="phoneError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                        <label>Pin Code *</label>
                        <input
                          name="pin"
                          type="tel"
                          class="form-control"
                          id="pin"
                          placeholder="Pincode"
                          
                        />
                        <div id="pinError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->

                    <label>Email address *</label>
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="addressEmail"
                      placeholder="Email Id"
                      
                    />
                    <div id="addEmailError" style="display: none; color: red;"></div>
                    <label>House Name *</label>
                    <input
                      name="houseName"
                      type="text"
                      class="form-control"
                      id="houseName"
                      placeholder="House name and street name *"
                      
                    />
                    <div id="houseError" style="display: none; color: red;"></div>

                    <div class="row">
                      <div class="col-sm-6">
                        <label>City *</label>
                        <input
                          name="city"
                          type="text"
                          class="form-control"
                          id="city"
                          placeholder="City *"
                          
                        />
                        <div id="cityError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->

                      <div class="col-sm-6">
                        <label>State *</label>
                        <input
                          name="state"
                          type="text"
                          class="form-control"
                          id="state"
                          placeholder="State *"
                          
                        />
                        <div id="stateError" style="display: none; color: red;"></div>
                      </div>
                      <!-- End .col-sm-6 -->
                    </div>
                    <!-- End .row -->

                    <button id="multiAddress" class="btn btn-outline-primary-2">
                      <span>SUBMIT</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </form>
                </div>

                <!-- End .row -->
              </div>
              <!-- .End .tab-pane -->

             
              <!-- .End .tab-pane -->
            </div>
          </div>
          <!-- End .col-lg-9 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .dashboard -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
<script src="/user/profileEdit.js"></script>



<%- include('../user/layout/userFooter.ejs')%>
