<%- include('../user/layout/userHeader.ejs')%>

<div class="container">
  <div
    class="page-header page-header-big text-center"
    style="background-image: url('user/images/contact-header-bg.jpg')"
  >
    <h1 class="page-title text-white">
      <%=name?name:"Account"%><span class="text-white">Personal Details</span>
    </h1>
  </div>
  <!-- End .page-header -->
</div>
<!-- End .container -->
<% if( address !== null ){%> <% for(let
    i=0;i<=0;i++){ %>
<div class="page-content pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-2 mb-lg-0">
        <h2 class="title mb-1">Contact Information</h2>
        <!-- End .title mb-2 -->

        <div class="row">
          <div class="col-sm-7">
            <div class="contact-info">
              <ul class="contact-list">
                <li>
                  <i class=""></i>
                  Full Name : <b> <%= address.address[i].fullname%></b>
                </li>
                <li>
                  <i class="icon-phone"></i>
                  Mobile No :<b><%= address.address[i].mobile%></b>
                </li>
                <li>
                  <i class="icon-envelope"></i>
                  Email Id :<b><%= address.address[i].email%></b>
                </li>
                <li>
                  <i class="icon-map-marker"></i>
                  House Name :<b><%= address.address[i].houseName%></b>
                  <!-- <a href="">info@Molla.com</a> -->
                </li>
                <li>
                    <i class="icon-map-marker"></i>
                    City :<b><%= address.address[i].city%></b>
                    <!-- <a href="">info@Molla.com</a> -->
                  </li>
                  <li>
                    <i class="icon-map-marker"></i>
                    State :<b><%= address.address[i].state%></b>
                    <!-- <a href="">info@Molla.com</a> -->
                  </li>
                <li>
                  <i class=""></i>
                  Pin Code :<b><%= address.address[i].pin%></b>
                </li>
              </ul>
              

              <!-- End .contact-list -->
            </div>
            <!-- End .contact-info -->
          </div>
          <!-- End .col-sm-7 -->
          <div>
            <a href="/forget">Forgot password ?</a> <br><a href="/changePass">Change password.</a>
          </div>
          
          <!-- End .col-sm-5 -->
        </div>

        <!-- <a href=""><b>forget password ?</b></a>
        <br>
        <a href=""><b>change password ?</b></a> -->
        <!-- End .row -->
      </div>
      <!-- End .col-lg-6 -->
      <div class="col-lg-6">
        <h2 class="title mb-1">Manage Your Details</h2>
        <!-- End .title mb-2 -->

        <form action="/add_address" class="contact-form mb-3" method="post">
          
            <div class="col-sm-14">
              <label for="cname" class="sr-only">Full Name</label>
              <input
                name="fullname"
                type="text"
                class="form-control"
                id="cname"
                value="<%= address.address[i].fullname%>"
                required
              />
            </div>
            <!-- End .col-sm-6 -->
          
          <!-- End .row -->

          <div class="row">
            <div class="col-sm-6">
              <label for="cphone" class="sr-only">Phone</label>
              <input
                name="mobile"
                type="tel"
                class="form-control"
                id="cphone"
                value="<%= address.address[i].mobile%>"
              />
            </div>
            <!-- End .col-sm-6 -->

            <div class="col-sm-6">
              <label for="cphone" class="sr-only">Pincode</label>
              <input
                name="pin"
                type="tel"
                class="form-control"
                id="cphone"
                value="<%= address.address[i].pin%>"
              />
            </div>

            <!-- End .col-sm-6 -->
          </div>
          <div class="col-sm-14">
            <label for="csubject" class="sr-only">Email Id</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="csubject"
              value="<%= address.address[i].email%>"
            />
          </div>
          <!-- End .row -->
          <div class="col-sm-14">
            <label for="csubject" class="sr-only">House Name</label>
            <input
              name="houseName"
              type="text"
              class="form-control"
              id="csubject"
              value="<%= address.address[i].houseName%>"
            />
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="cname" class="sr-only">City</label>
              <input
                name="city"
                type="text"
                class="form-control"
                id="cname"
                value="<%= address.address[i].city%>"
                required
              />
            </div>
            <!-- End .col-sm-6 -->

            <div class="col-sm-6">
              <label for="cemail" class="sr-only">State</label>
              <input
                name="state"
                type="text"
                class="form-control"
                id="cemail"
                value="<%= address.address[i].state%>"
                required
              />
            </div>
            <!-- End .col-sm-6 -->
          </div>
          <!-- <label for="cmessage" class="sr-only">Address</label>
          <textarea
            name="address"
            class="form-control"
            cols="30"
            rows="4"
            id="cmessage"
            required
          ><%= address.address[i].address%></textarea> -->

          <button
            type="submit"
            class="btn btn-outline-primary-2 btn-minwidth-sm"
          >
            <span>SUBMIT</span>
            <i class="icon-long-arrow-right"></i>
          </button>
          
        </form>

        <!-- End .contact-form -->
      </div>

      <!-- End .col-lg-6 -->
    </div>
    <% }%>
    <div class="col-sm-14">
        <form action="/addBillingAddress" method="post">
            <h2 class="checkout-title">Add Billing Addresses</h2>
            <!-- End .checkout-title -->
            
            <label>Full Name *</label>
            <input
              type="text"
              class="form-control"
              name="fullname"
              placeholder="Full Name"
              required
            />
            <!-- End .row -->
    
            <!-- <label>Company Name (Optional)</label>
                              <input type="text" class="form-control"> -->
    
            <!-- <label>Country *</label>
                              <input type="text" class="form-control" required> -->
    
            <label>House Name *</label>
            <input
              type="text"
              class="form-control"
              name="houseName"
              placeholder="House Name and Street name"
              required
            />
    
            <div class="row">
              <div class="col-sm-6">
                <label>Town / City *</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  required
                />
              </div>
    
              <div class="col-sm-6">
                <label>State / County *</label>
                <input
                  type="text"
                  class="form-control"
                  name="state"
                  required
                />
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6">
                <label>Pincode *</label>
                <input type="text" class="form-control" name="pin" required />
              </div>
              <!-- End .col-sm-6 -->
    
              <div class="col-sm-6">
                <label>Phone *</label>
                <input
                  type="tel"
                  class="form-control"
                  name="mobile"
                 required
                />
              </div>
              <!-- End .col-sm-6 -->
            </div>
            <!-- End .row -->
    
            <label>Email address *</label>
            <input type="email" class="form-control" name="email" required />
            <button
              type="submit"
              class="btn btn-outline-primary-2 btn-minwidth-sm"
            >
              <span>SUBMIT</span>
              <i class="icon-long-arrow-right"></i>
            </button>
          </form>
    </div>

    <!-- End .row -->
  </div>
  <!-- End .container -->
</div>

<%}else{%>

<div class="page-content pb-0">
  <div class="container">
    <div class="row">


      
      <div class="col-lg-12">
        <h2 class="title mb-1">Add Your Details</h2>
        <!-- End .title mb-2 -->

        <form action="/add_address" class="contact-form mb-3" method="post">
          
            <div class="col-sm-14">
              <label for="cname" class="sr-only">Full Name</label>
              <input
                name="fullname"
                type="text"
                class="form-control"
                id="cname"
                placeholder="Full Name"
                required
              />
            </div>
            <!-- End .col-sm-6 -->
          
          <!-- End .row -->

          <div class="row">
            <div class="col-sm-6">
              <label for="cphone" class="sr-only">Phone</label>
              <input
                name="mobile"
                type="tel"
                class="form-control"
                id="cphone"
                placeholder="Phone"
              />
            </div>
            <!-- End .col-sm-6 -->

            <div class="col-sm-6">
              <label for="cphone" class="sr-only">Pincode</label>
              <input
                name="pin"
                type="tel"
                class="form-control"
                id="cphone"
                placeholder="Pincode"
              />
            </div>

            <!-- End .col-sm-6 -->
          </div>
          <div class="col-sm-14">
            <label for="csubject" class="sr-only">Email Id</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="csubject"
              placeholder="Email Id"
            />
          </div>
          <!-- End .row -->
          <div class="col-sm-14">
            <label for="csubject" class="sr-only">House Name</label>
            <input
              name="houseName"
              type="text"
              class="form-control"
              id="csubject"
              placeholder="House name and street name *"
            />
          </div>
          <div class="row">
          <div class="col-sm-6">
            <label for="csubject" class="sr-only">City</label>
            <input
              name="city"
              type="text"
              class="form-control"
              id="csubject"
              placeholder="City *"
            />
          </div>
          <div class="col-sm-6">
            <label for="csubject" class="sr-only">State</label>
            <input
              name="state"
              type="text"
              class="form-control"
              id="csubject"
              placeholder="State *"
            />
          </div>
        </div>


          <!-- <label for="cmessage" class="sr-only">Address</label>
          <textarea
            name="address"
            class="form-control"
            cols="30"
            rows="4"
            id="cmessage"
            placeholder="Address"
            required
          ></textarea> -->

          <button
            type="submit"
            class="btn btn-outline-primary-2 btn-minwidth-sm" >
            <span>SUBMIT</span>
            <i class="icon-long-arrow-right"></i>
          </button>
          
        </form>

        <!-- End .contact-form -->
      </div>

      <!-- End .col-lg-6 -->
    </div>

    <!-- End .row -->

    
  </div>
  <!-- End .container -->
</div>
<%}%>
<!-- End .page-content -->

<%- include('../user/layout/userFooter.ejs')%>
