<%- include('../admin/layout/adminSidebar.ejs')%>
<%- include('../admin/layout/adminHeader.ejs')%>


<div class="main-panel">
  <div class="content-wrapper">
<div class="row">
    
    <div class="col-lg-12 grid-margin stretch-card"  id="banners">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Banner Management</h4>
          
          <p class="card-description"> All FurniCube Banners</p>
          <div class="table-responsive">
            <table class="table ">
              <thead>
                <tr>
                  
                  <th>Images</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Action</th>
                  <a href="/admin/loadAddBanner" class="btn btn-outline-primary btn-rounded">Add Banners</a>
                </tr>
              </thead>
              <tbody >
                <% if(banner.length > 0){ %>
                    <% banner.forEach((banner)=> { %>
               
                <tr>
                  
                  <td>
                    <img src="/banner/<%= banner.image %>" alt="">
                  </td>
                  <td><%= banner.title %></td>
                  <td><%= banner.description %></td>
                  <% if(banner.status == true){ %>
                    <td class="text-success">Active</td>
                    <td><a onclick="blockBanner('<%= banner._id %>')" class="badge badge-danger">Block</a></td>
                    
                   <% }else{ %>
                    <td class="text-danger">Blocked</td>
                    <td><a onclick="blockBanner('<%= banner._id %>')" class="badge badge-success" >Unblock</a></td>
                  

                    <% } %>
                    <td><a href="/admin/edit-banner-page?id=<%= banner._id %>" class="badge badge-warning">Update</a></td>

                </tr>
                
                 
                 <% }) %>
               <% }else{ %>
                <tr>
                  <td colspan="5">Banners Not Found</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<%- include('../admin/layout/adminFooter.ejs')%>