<%- include('../admin/layout/adminSidebar.ejs')%>

<%- include('../admin/layout/adminHeader.ejs')%>


<div class="main-panel">
  <div class="content-wrapper">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Banner Details</h4>
        
        <form class="forms-sample" id="editBanner" action="/admin/editBanner?id=<%= banner._id %>" method="post" enctype="multipart/form-data">
            
          <div class="form-group">
            <label for="exampleInputName1">Banner Title</label>
            <input type="text" class="form-control" id="title" value="<%= banner.title %>" name="title">
            <p style="color: red; display: none;" id="titleError"></p>
          </div>
          
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <input type="text" class="form-control" id="description" value="<%= banner.description %>" name="description">
            <p style="color: red; display: none;" id="desError"></p>
          </div>
          <div class="col-lg-3 col-md-6 rounded-image-preview ">
            <label for="exampleTextarea1">Banner Image</label>
            <label for="imageInput1" class="image-label ">
              <div class="rounded-image-preview">
                <img id="imagePreview1"
                src="/banner/<%= banner.image %>"
                  alt="Preview" />
              </div>
              <input name="image" type="file" accept="image/*" id="imageInput1" class="imageInput" >
            </label>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-inverse-danger"><a href="/admin/bannerDetails">Cancel</a></button>
        </form>
      </div>
    </div>
  </div>
  </div>
<script src="/admin/editBanner.js"></script>
 
<%- include('../admin/layout/adminFooter.ejs')%>